<!-- Optional footer content -->
<!--
<script type="text/javascript" src="assets/js/lightbox.js"></script>
<link rel="stylesheet" href="assets/css/lightbox.css">
-->

<script type="text/javascript" src="assets/js/lightbox-plus-jquery.min.js"></script>
<link rel="stylesheet" href="assets/css/lightbox.min.css">

<!--
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/css/lightbox.min.css" />
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox-plus-jquery.min.js"></script>
-->
